img(src="/resources/PROGRAM.jpg", alt="banner figuras geometricas")
p(tabindex ="0") Program
img(src="/resources/TECH.jpg", alt="banner digital")
p(tabindex ="0") Tech
img(src="/resources/TALENT.jpg", alt="banner de espacio de trabajo")
p(tabindex ="0") Talent
section(aria-label = "Contact us")
    h1(tabindex ="0") Contact us
    form(action="")
            br
            label(for="name" tabindex ="0") Nombres 
            input(type="text", name="name" placeholder="Nombres")
            br
            label(for="lastname" tabindex ="0") Apellidos
            input(type="text" placeholder="Apellidos")
            br
            label(for="email" tabindex ="0") E-mail
            input(type="email" placeholder="E-mail")
            br
            label(for="description" tabindex ="0") Mensaje
            textarea(name="description", cols="30", rows="10", placeholder="Mensaje")
            br
            button
                | Enviar