section(class="content__mainarea")
    div(class="content__mainarea__slide")
        div(class="content__mainarea__banner")
            h2 Program
    div(class="content__mainarea__slide")
        div(class="content__mainarea__banner")
            h2 Tech
    div(class="content__mainarea__slide")
        div(class="content__mainarea__banner")
            h2 Talent
section 
    form(class="content__contactform" aria-label = "Contact us")
        h2(class="content__contactform__title" tabindex ="0") Contact us  
        div(class="content__contactform__formgroup")
            input(class="content__contactform__forminput" type="text" placeholder="Nombres:")
            label(class="content__contactform__formlabel" for="name" tabindex ="0") Nombres
            span(class="content__contactform__formline")
        div(class="content__contactform__formgroup")
            input(class="content__contactform__forminput" type="text", placeholder="Apellidos:")
            label(class="content__contactform__formlabel" for="lastname" tabindex ="0") Apellidos
            span(class="content__contactform__formline")
        div(class="content__contactform__formgroup")
            input(class="content__contactform__forminput" type="email", placeholder="E-mail:")
            label(class="content__contactform__formlabel" for="email" tabindex ="0") E-mail
            span(class="content__contactform__formline")
        div(class="content__contactform__formgroup")
            textarea(class="content__contactform__formtextarea" name="description", cols="30", rows="10", placeholder="Mensaje")
            label(class="content__contactform__formlabel" for="description" tabindex ="0") Mensaje
            span(class="content__contactform__formline")
        input(class="content__contactform__formsubmit" type="submit" placeholder="Enviar")
            