doctype html
html(lang = "es")
    head
        meta(charset="utf-8" )
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon", href="../../resources/Huge.jpeg")
        link(rel="stylesheet", href="../../resources/style.css")
        script( src="https://kit.fontawesome.com/a076d05399.js")
        script(src="/resources/header.js" defer)
        block config
            include ../Pug/config
        block head
            title= page_title  + " | " + page
    body(class="container")
        block header
            include ../Pug/header.pug
        block content
            include ../Pug/content.pug
        block footer
            include ../Pug/footer.pug